@define-color bg #0b0b0c;
@define-color fg #fcf6de;
@define-color gray1 #FBE266;
@define-color gray2 #9c7160;
@define-color gray3 #fc855a;
@define-color gray4 #FED32B;
@define-color gray5 #fe9267;
@define-color fg_bright #fcf6de;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}